.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;

}
.item{
    background-color: yellowgreen;
    color: black;
    width: 400px;
    height: 100%;
    padding: 20px;
    padding-bottom: 30px;
border-radius: 10px;
}
.item img{
width: 100%;
object-fit:cover;
}
.item button{
    color: white;
    padding: 20px;
    width: 80%;
    margin-top: 20px;
    background-color: rgb(247, 0, 0);
    border-radius: 40px;
    border: none;
    font-size: 30px;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.473);
    
}
.item button:active{
    
    transform: perspective(500px) translateZ(-30px);
}